/* RESET */
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a4c639;
    padding: 5px 15px;
}

/* REMOVE PADDING DO W3 */
header.w3-container {
    padding: 0 !important;
}

/* LOGO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-area img {
    width: 30px;
    height: 30px;
}

.logo-area span {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

/* MENU LATERAL */
nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: #20201f;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    padding-left: 10px;
}

.btn-expandir i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* MENU */
ul {
    list-style: none;
    padding: 0;
}

ul li.item-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon i {
    font-size: 25px;
}

ul li.item-menu:hover a {
    background: #1c6307;
    border-radius: 5px;
}

/* MAPA */
.mapa {
    width: 400px;
    height: 200px;
    background: #b4b4b4;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUSCA */
.search-container {
    text-align: center;
    margin: 20px 0;
}

/* LOCAIS */
.locais {
    width: 80%;
    margin: 40px auto;
    background: #ddd;
    border-radius: 10px;
    padding: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* CARD */
.card {
    width: 100%;
    aspect-ratio: 16/9;
    background: #b4b4b46c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

/* PIN */
.pin {
    position: absolute;
    top: 5px;
    right: 5px;
    background: orange;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    cursor: pointer;
}

.pin.ativo {
    background: red;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */
footer {
    background: #1c6307;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}